<body>

    <!-- Preloader -->
    <div class="animationload">
        <div class="loader">
            Loading...
        </div>
    </div>
    <!-- End Preloader -->

    <!-- =========================
                 FEATURES
        ========================== -->

    <section class="button-container" id="features">
        <div>
            <div class="row text-center">
                <div class="col-lg-4 col-md-4">
                    <div class="features-box">
                        <div class="open-overlay"><i class="icon-lightbulb"></i></div>
                        <h4>Signup</h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="features-box">
                        <div class="open-overlay"><i class="icon-camera"></i></div>
                        <h4>Login</h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="features-box">
                        <div class="open-overlay"><i class="icon-cloud"></i></div>
                        <h4>Logout</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>