<form class="user-form">
    <div class="form-title">
        <h2>Login</h2>
    </div>
    <div class="input-container"> 
        <div>
            <label for="username-login">Username:</label>
            <input type="text" id="username-login" />
        </div>
        <div>
            <label for="password-login">Password:</label>
            <input type="password" id="password-login" />
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
        <a href="/signup">Signup instead</a>
    </div>
</form>

<script src="/js/login.js"></script>