<form class="user-form">
    <div class="form-title">
        <h2>Signup</h2>
    </div>
    <div class="input-container">
        <div>
            <label for="username-signup">Username:</label>
            <input type="text" id="username-signup">
        </div>
        <div>
            <label for="password-signup">Password:</label>
            <input type="password" id="password-signup">
        </div>
        <div>
            <button type="submit">Signup</button>
        </div>
        <a href="/login">Login instead</a>
    </div>
</form>

<script src="/js/signup.js"></script>